.bg {
    background-image: url("../images/soil.webp");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}

.bg1 {
    padding: 100px;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    color: white;
    background-position: bottom;
    /* height: 100vh; */
}

.font1 {
    font-family: 'Hackney', sans-serif;
    font-size: 90px;
    color: rgb(33, 132, 33);
}

.left{
    margin-left: 100px;
    padding-left: 100px;
}

.set{
    
    margin-top: -20px;
    margin-left: 10px;
}



#live {
    padding-top: 113px;
    color: white;
}

#live h1 {
    font-size: 95px;
    font-family: 'Hackney', sans-serif;

}

#live h3 {
    padding-top: 100px;
    /* font-family: 'DM Sans', sans-serif; */
    /* font-family: 'EB Garamond', serif; */
    /* font-family: 'Hanalei', cursive; */
    /* font-family: 'Monoton', cursive; */
    /* font-family: 'PT Sans Narrow', sans-serif; */
    /* font-family: 'Radio Canada', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Smooch', cursive; */
    /* font-family: 'Syne Mono', monospace; */
}